/* @keyframes slide {
  0%, 15% {
    transform: translateX(0%);
  }
  20%, 30% {
    transform: translateX(-100%);
  }
  35%, 45% {
    transform: translateX(-200%);
  }
  50%, 60% {
    transform: translateX(-300%);
  }
  65%, 75% {
    transform: translateX(-400%);
  }
  80%, 90% {
    transform: translateX(-500%);
  }
  95%, 100% {
    transform: translateX(0%);
  }
} */
@keyframes slide {
  0%, 15% {
    transform: translateY(0%);
  }
  20%, 30% {
    transform: translateY(-100%);
  }
  35%, 45% {
    transform: translateY(-200%);
  }
  50%, 60% {
    transform: translateY(-300%);
  }
  65%, 75% {
    transform: translateY(-400%);
  }
  80%, 90% {
    transform: translateY(-500%);
  }
  95%, 100% {
    transform: translateY(0%);
  }
}
.animate-slide {
  /* height: 450px; */
  width: 100%; /* total 4 images */
  /* animation: slide 20s infinite ease-in-out; */
  animation: slide 20s infinite ease-in-out;
}

